.footerContainer {
    background-color: #F1F8F5;
    padding: 0 4%;
    margin-top: -30px;
}

.horizontalLine {
    height: 1px;
    background-color: #A2BBAC;
}

.footerContent {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #84A391;
    font-size: 10px;
    font-weight: 500;
    padding: 5px 0;
}

.footerContent :nth-child(1) {
    margin-right: 40px;
}

.footerDot {
    height: 3px;
    width: 2.5px;
    background-color: #84A391;
    border-radius: 50%
}