.createContractTopBar {
    display: flex;
    justify-content: space-between;
}

.newContractText {
    font-size: 25px;
    color: #1c3d5a;
    margin-top: 0px;
}

.ContractCloseIconContainer {
    margin-right: -20px;
    margin-top: -20px;
    height: 45px;
    width: 45px;
    background-color: #F4E2E2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.customer_text,
.uploadUnitsText,
.contractText {
    font-size: 12px;
    color: #1c3d5a;
    font-weight: bold;
    margin-bottom: 5px;
}

.createContract1stRow {
    display: flex;
    gap: 30px;
    margin-top: -10px;
}

.unitsContainer {
    margin-top: 15px;
    display: flex;
    align-items: center;

}

.uploadUnits {
    height: 112px;
    width: 352px;
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #1c3d5a;
    background-color: #e3f2fd;
    border: 1px dashed #bbdefb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downloadUnitsBtn {
    width: 289px;
    height: 56px;
    background-color: #e3f2fd;
    border: 1px solid #a9def9;
    border-radius: 28px;
    font-size: 15px;
    font-weight: bold;
    color: #a9def9;
    font-family: Manrope;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 35px;
    margin-top: 30px;
    cursor: pointer;
}

.createContractBtn {
    width: 185px;
    height: 56px;
    background-color: #a9def9;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 25px;
    font-family: Manrope;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}

.createContractBtn:hover {
    background-color: #89cef9;
}

@media only screen and (max-width: 1180px) {
    .uploadUnits {
        width: 300px !important;
    }

    .uploadUnits p {
        text-align: center;
    }
}

@media only screen and (max-width: 1035px) {
    .uploadUnits {
        width: 250px !important;
    }

    .downloadUnitsBtn {
        width: 240px !important
    }
}

@media only screen and (max-width: 890px) {
    .uploadUnits {
        width: 220px !important;
    }

    .downloadUnitsBtn {
        width: 200px !important
    }

    .uploadUnits p {
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-width: 800px) {
    .uploadUnits {
        width: 27vw !important;
    }

    .downloadUnitsBtn {
        width: 27vw !important;
    }
}

@media only screen and (max-width: 660px) {
    .uploadUnits {
        width: 35vw !important;
    }

    .downloadUnitsBtn {
        width: 35vw !important;
    }
}