.projectSummaryCardContainer {
    width: 43.5%;
    height: 240px;
    background-color: #FFFFFF;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 20px;
}

.projectSummaryCardTop {
    display: flex;
    justify-content: space-between;
}

.projectName {
    font-size: 18px;
    color: #113C23;
}

.projectProgress {
    font-size: 15px;
    font-weight: 500;
    color: #113C23;
    margin-top: -5px;

}

.progressBar {
    display: flex;
    align-items: center;
    width: 276px;
    height: 12px;
    background-color: #C2E9A0;
    margin-top: -10px;
    border-radius: 8px;
    overflow: hidden;
}

.innerProgressBar1 {
    height: 12px;
    background-color: #00530C;
}

.innerProgressBar2 {
    height: 12px;
}

.innerProgressBarSymbol {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #0CA14A;
    border: 4px solid #FBFBFC;
    box-shadow: 0px 3px 6px #00000029;
    margin-left: 1px;
}

.projectSchedule {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}

.projectIssue {
    color: #24231F;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.projectIssueSvgContainer {
    display: flex;
    margin-left: -5px;
    margin-top: -5px;
}

.projectSummaryCardBottom {
    display: flex;
    margin-top: 5px;
}

.jobStatus {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #24231F;
    margin-right: 40px;
}

.jobsSummary {
    margin-left: 30px;
}

.jobsSummary1,
.jobsSummary2 {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: #84A391;
    gap: 30px
}

.jobsSummary2 {
    margin-top: -15px;
}

.jobsSummary1 div {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
}

.jobsSummary1 span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.jobsSummary2 div {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
}

.jobsSummary2 span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.completed span {
    background-color: #00530C;
}

.paused span {
    background-color: #E3BD68;
}

.inProgress span {
    background-color: #59A77B;
}

.cancelled span {
    background-color: #E36767;
}

.chartContainer {
    width: 100px;
    height: 100px;
    margin-top: -10px;
}

@media only screen and (max-width: 1380px) {
    .projectSummaryCardContainer {
        height: 280px;
    }
}

@media only screen and (max-width: 1250px) {
    .projectSummaryCardContainer {
        width: 100%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 970px) {


    .progressBar {
        width: 400px;
        height: 15px;
    }

    .innerProgressBar1 {
        height: 15px;
    }

    .innerProgressBar2 {
        height: 15px;
    }

    .projectSummaryCardBottom {
        margin-top: 20px;
    }

    .jobsSummary {
        display: flex;
        margin-top: 15px;
    }

    .jobsSummary2 {
        margin-top: 0;
        margin-left: 30px;
    }
}